.DS_Store
*.DS_Store

# Logs
logs/
*.log

# Cache
.npm/
.eslintcache

# Directories
coverage/
dist/
node_modules
tmp/
.pnpm-store
.turbo
.env*
.secrets
out/

!config/**

*.tsbuildinfo

# Local Vercel folder
.vercel

# Next.js build output
.next
next-env.d.ts

packages/scanners/
